<a href="https://colab.research.google.com/github/ManojKumarTiwari/ReferenceAI/blob/master/Loading_Data_From_Github_Raw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
file = "https://raw.githubusercontent.com/ManojKumarTiwari/ReferenceAI/master/11-Linear-Regression/USA_Housing.csv"

In [0]:
df = pd.read_csv(file)

In [4]:
df.head()

   Avg. Area Income  ...                                            Address
0      79545.458574  ...  208 Michael Ferry Apt. 674\nLaurabury, NE 3701...
1      79248.642455  ...  188 Johnson Views Suite 079\nLake Kathleen, CA...
2      61287.067179  ...  9127 Elizabeth Stravenue\nDanieltown, WI 06482...
3      63345.240046  ...                          USS Barnett\nFPO AP 44820
4      59982.197226  ...                         USNS Raymond\nFPO AE 09386

[5 rows x 7 columns]